html {
    overflow-y: scroll;
}

.red {
    color: red !important;
}

#logo {
    font-size: 60px;
}

td a, th a {
    color: inherit;
    text-decoration: inherit;
}

.search-form {
    min-width: 200px;
}

.time-right {
    margin: 0;
    text-align: right;
}

#date-wrapper {
    display: inline-block;
    float: right;
}

.clear-both {
    clear: both;
}

.inline-block {
    display: inline-block;
}

.date {
    display: inline-block;
}

.material-icons {
    scale: 1.5;
    margin: 0 0.2em;
    cursor: pointer;
}

#timetableAccordion {
    margin-top: 15px;
}
