html {
    overflow-y: scroll;
}

main.container {
    padding: 0 1rem;
}

.red {
    color: red !important;
}

#logo {
    font-size: 60px;
}

td a, th a {
    color: inherit;
    text-decoration: inherit;
}

.search-form {
    min-width: 200px;
}

.time-right {
    margin: 0;
    text-align: right;
}

#date-wrapper {
    display: inline-block;
    float: right;
}

.clear-both {
    clear: both;
}

.inline-block {
    display: inline-block;
}

.date {
    display: inline-block;
}

.navigation-icon {
    font-size: 32px;
    margin: 0 0.3em;
    cursor: pointer;
}

#timetableAccordion {
    margin-top: 15px;
}

.change-info {
    font-size: 0.9em;
}

.change-info td {
    padding: 2px 8px 8px 8px;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    width: 20%;
    text-align: left;
    padding: 8px;
}

table .col-number-title, .col-number {
    width: 15%;
}

table .col-subject-title, .col-subject {
    width: 35%;
}

table .col-teacher-title, .col-teacher {
    width: 25%;
}

table .col-room-title, .col-room {
    width: 25%;
}

table .col-cancelled {
    width: 85%;
}

#outer-table > tbody > tr:not(.no-entries) > td {
    padding: 0;
}

tr.has-info-text tr:not(.change-info) td {
    padding-bottom: 2px;
}

tr.has-info-text tr:not(.change-info) th {
    padding-bottom: 2px;
}

