<tr class="{% if period.is_cancelled %}table-danger{% endif %} {% if period.change_info %}has-info-text{% endif %}">
    <td colspan="99">
        <table>
            <tr>
                <th scope="row" class="col-number">{{ period.number }}</th>

                {% if not period.is_cancelled %}
                    {% if not plan.cls %}
                        <td>
                            <a href="{% url "plan:class" period.plan.cls %}">
                                {{ period.plan.cls }}
                            </a>
                        </td>
                    {% endif %}

                    <td  class="col-subject {% if period.is_subject_changed %}red{% endif %}">
                        {{ period.subject|default:"---" }}
                    </td>

                    <td class="col-teacher {% if period.is_substituted %}red{% endif %}">
                        {% if period.is_cancelled %}
                            Fällt aus
                        {% else %}
                            {% if period.teacher %}
                                <a href="{% url "plan:teacher" period.teacher.short_name %}">
                                    {{ period.teacher.short_name }}
                                </a>
                            {% else %}
                                ---
                            {% endif %}
                        {% endif %}
                    </td>

                    <td class="col-room {% if period.is_room_changed %}red{% endif %}">
                        {% if period.room %}
                            <a href="{% url "plan:room" period.room %}">
                                {{ period.room }}
                            </a>
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                {% else %}
                    <td class="red col-cancelled" colspan="99">
                        Fällt aus
                    </td>
                {% endif %}
            </tr>
            {% if period.change_info %}
                <tr class="change-info">
                    <td class="col-number"></td>
                    <td colspan="99">
                        {{ period.change_info }}
                    </td>
                </tr>
            {% endif %}
        </table>
    </td>
</tr>
