{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start mt-3">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <h1 id="logo">PlanPlus</h1>
                </a>
            </div>
        </div>
    </div>
</header>

<main class="container">
    <div class="bottom-nav w-100 mt-3">
        <div class="w-25 inline-block search-form">
            <form action="{% url "plan:search" %}" method="get">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Suchen..."
                           aria-label="Suchen..." name="q" required="required">
                    <button class="btn btn-outline-primary px-3" type="submit">Los</button>
                </div>
            </form>
        </div>
        <div class="mb-3" id="date-wrapper">
            <div class="date-actions">
                <span class="material-icons" id="day-back">chevron_left</span>
                <h2 class="time-right date">{{ day.date }}</h2>
                <span class="material-icons" id="day-forward">navigate_next</span>
            </div>
            <p class="time-right">geändert: {{ day.last_changed|date:"H:i, d.m.Y" }}</p>
            <p class="time-right">aktualisiert: {{ day.last_updated|date:"H:i, d.m.Y" }}</p>
        </div>
    </div>
    {% if day.info %}
        <div class="mt-1 inline-block">
            <b>{{ day.info }}</b>
        </div>
    {% endif %}
    <div class="clear-both"></div>
    <div class="content mt-3">
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top container">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Dominik K.</p>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="{% url "plan:plan" %}" class="nav-link px-2 text-muted">Home</a></li>
    </ul>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function () {
        $(".material-icons").on("click", function () {
            const action = $(this).attr("id");
            const date = $(".date").text();
            $.post(
                "{% url "plan:find_next_date" %}",
                {date: date, action: action},
                function (response) {
                    console.log(response);
                    const responseJson = JSON.parse(response)
                    if (responseJson["success"]) {
                        window.location.replace("{% url "plan:plan" %}?date=" + responseJson["date"])
                    }
                }
            );
        });
    });
</script>
</body>
</html>
