{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Einloggen - PMG Vertretungsplan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}?v=4">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "icons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "icons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "icons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "site.webmanifest" %}">
    <!-- END Favicons -->
</head>
<body>
<header>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start mt-3">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <h1 id="logo">PlanPlus</h1>
                </a>
            </div>
        </div>
    </div>
</header>

<main class="container" style="margin-bottom: 150px">
    <div class="clear-both"></div>

    <div class="content mt-3">
        <div class="login-explanation mt-3">
            <h2>Willkommen beim Stundenplan des PMG Meine!</h2>
            <p>
                <mark>Aus datenschutzrechtlichen Gründen</mark> musste pmg-meine.de nun leider mit einem Passwort
                versehen werden - dieses wird aber automatisch in Deinem Browser gespeichert,
                sodass Du Dich nur einmal einloggen musst.
            </p>
            <p>
                <mark>Das Passwort ist das gleiche, welches auch für die App VpMobil verwendet wird</mark> -
                Du kannst es in der E-Mail von Herrn Völkel am 19.05.2020 oder von Herrn Nieswand am 26.08.2020 finden.
            </p>
            <p>
                Du kannst mich auch gerne mit Deiner Schul-Email anschreiben, falls Du das Passwort nicht mehr weißt:
                dominik.korolko@pmg-meine.de.<br>
                Dann sende ich Dir das Passwort schnellstmöglich zu.
            </p>
        </div>
        
        <form class="mx-auto card p-3 shadow-lg mt-5" method="post" enctype="multipart/form-data" id="login-form">
            {% csrf_token %}
            
            <!-- Error / Success messages for login -->
            {% if messages %}
                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="username">Benutzername:</label>
                <input id="username" name="username" type="text" class="form-control">
            </div>
            <div class="form-group mt-3">
                <label for="password">Passwort:</label>
                <input id="password" name="password" type="password" class="form-control">
            </div>

            <button type="submit" name="submit-login" id="submit-login" class="btn btn-outline-secondary mt-4">
                Einloggen
            </button>
        </form>
    </div>
</main>

<footer class="d-flex flex-wrap justify-content-between align-items-center pt-3 pb-4 border-top container fixed-bottom">
    <p class="col-md-4 mb-0 text-muted">&copy; 2024 Dominik Korolko</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>
